.swiper-button-prev,
.swiper-button-next {
  width: 30px !important;
  height: 30px !important;
}

@media (max-width: 850px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 16px !important;
    height: 16px !important;
    font-size: 8px !important;
  }
}

@media (max-width: 480px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 15px !important;
    height: 15px !important;
    font-size: 10px !important;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 26px !important; 
}
